
{{ form_start(form, {'action': formAction, 'attr': {'class': 'ajax-form', 'target': '#modalEditor .modal-content'}}) }}

<div class="modal-header">
    <button type="button" class="close close-modal"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit product: {{ product.name|default("[new]") }}</h4>
</div>

<div class="modal-body">

    {% if success %}
    <div class="alert alert-success" role="alert">The product is saved successfully.</div>
    {% elseif success is same as(false) %}
    <div class="alert alert-danger" role="alert">The product could not be saved. Please check details below.</div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
         
            {% if product.sku %} 
            <div class="form-group">
                {{ form_label(form.sku) }} 
                <div class="col-sm-9">
                    <div class="input-group">
                        {{ form_widget(form.sku) }} 
                        <span class="input-group-btn">
                            <a class="btn btn-default" href="{{ path('barcode_single', { 'barcode': product.sku }) }}" target="_blank"><span class="glyphicon glyphicon-barcode" aria-label="Barcode"></span></a>
                        </span>
                    </div>
                </div>
            </div>
            {% else %}
            {{ form_row(form.sku) }}
            {% endif %}
                  
            {{ form_row(form.name) }} 
            {{ form_row(form.description) }} 
            {{ form_row(form.price) }}
            <div class="row form-display">
                <div class="col-sm-9 col-md-offset-3"><b>List price: </b>&euro; {{ product.totalStandardPriceOfAttributes|number_format(2, ',', '.') }}</div>
            </div>
        </div>
        <div class="col-md-6">
            {{ form_row(form.type) }} 
            {% if form.location is defined %}
            {{ form_row(form.location) }} 
            {% endif %}
            {{ form_row(form.status) }} 
        </div>
    </div>

    
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Attributes{% endtrans %}
        </div>
        <div class="panel-body">

            {% for formRelation in form.attributeRelations %}

                <div class="row" style="margin-bottom: 2px">
                    <div class="col-md-3 col-md-offset-1">
                        {{ formRelation.vars.data.attribute.name }}
                    </div>
                    <div class="col-md-5">
                        {% if formRelation.vars.data.attribute.type == 2 %}{# Files #}
                            <div class="row">
                            {% for file in formRelation.vars.data.files %}
                                <div class="col-md-4 col-filecontainer" id="col-file-{{ file.id }}">
                                    <div class="panel panel-default panel-filecontainer">
                                        <div class="panel-body panel-body-small">
                                            <div class="row">
                                                <div class="col-xs-10" style="overflow:hidden; text-overflow:ellipsis;">
                                                    <a href="{{ path("download", { 'id': file.id }) }}" title="{{ file.originalClientFilename }}" target="_blank">{{ file.originalClientFilename }}</a>
                                                </div>
                                                <div class="col-xs-2" style="margin-top: -4px">
                                                    <button type="button" class="close delete-file" aria-label="Delete" data-attribute="{{ formRelation.vars.data.attribute.id }}" data-file="{{ file.id }}"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                            </div>
                                            
                                            {% if file.originalClientFilename|slice(-3)|lower == "jpg" or file.originalClientFilename|slice(-3)|lower == "png" or file.originalClientFilename|slice(-3)|lower == "gif" %}
                                                <img src="{{ path("download", { 'id': file.id }) }}" title="{{ file.originalClientFilename }}" />
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            {{ form_widget(formRelation.value, { 'attr': {'class': 'file-name'}}) }}
                            {{ form_widget(formRelation.valueFiles, { 'attr': {'class': 'file-input'}}) }}
                        {% elseif formRelation.vars.data.attribute.type == 3 %}{# Product #}
                            <div class="form-group">
                                <div class="col-sm-3">{{ form_widget(formRelation.quantity) }}</div>
                                <div class="col-sm-1" style="padding: 8px 0 0 0">X</div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        {{ form_widget(formRelation.valueProduct) }}
                                        <span class="input-group-btn">
                                            <a href="#" class="btn btn-success btn-subedit"><span class="glyphicon glyphicon-pencil" aria-label="Edit"></span></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {{ form_widget(formRelation.value) }}
                        {% endif %}
                    </div>
                    <div class="col-md-1">
                        &euro; {{ formRelation.vars.data.totalStandardPrice|number_format(2, ',', '.') }}
                    </div>
                </div>
            
            {% else %}
            No attributes available for products of this type. Please ask your manager to relate attributes to product types.
            {% endfor %}

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Orders{% endtrans %}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="1%"></th>
                    <th width="10%">Order nr</th>
                    <th width="10%">Order date</th>
                    <th width="20%">Supplier/Customer</th>
                    <th width="10%">Status</th>
                    <th width="3%">Quantity</th>
                    <th width="1%"></th>
                </tr>
            </thead>
            <tbody>
                {% if product.purchaseOrderRelation %}
                <tr>
                    <td><span class="glyphicon glyphicon glyphicon-log-in" aria-label="Purchase"></span></td>
                    <td>{{ product.purchaseOrderRelation.order.orderNr }}</td>
                    <td>{{ product.purchaseOrderRelation.order.orderDate|date("Y-m-d") }}</td>
                    <td>From: {{ product.purchaseOrderRelation.order.customer.name|default("") }}</td>
                    <td>{{ product.purchaseOrderRelation.order.status.name|default("") }}</td>
                    <td>{{ product.purchaseOrderRelation.quantity }}</td>
                    <td><a class="btn btn-success" href="{{ path('purchaseorder_edit', { 'id': product.purchaseOrderRelation.order.id }) }}"><span class="glyphicon glyphicon-chevron-right" aria-label="Edit"></span></a></td>
                </tr>
                {% endif %}
                {% for salesOrderRelation in product.salesOrderRelations %}
                <tr>
                    <td><span class="glyphicon glyphicon glyphicon-log-out" aria-label="Sales"></span></td>
                    <td>{{ salesOrderRelation.order.orderNr }}</td>
                    <td>{{ salesOrderRelation.order.orderDate|date("Y-m-d") }}</td>
                    <td>To: {{ salesOrderRelation.order.customer.name|default("") }}</td>
                    <td>{{ salesOrderRelation.order.status.name|default("") }}</td>
                    <td>{{ salesOrderRelation.quantity }}</td>
                    <td><a class="btn btn-success" href="{{ path('salesorder_edit', { 'id': salesOrderRelation.order.id }) }}"><span class="glyphicon glyphicon-chevron-right" aria-label="Edit"></span></a></td>
                </tr>
                {% endfor %}
        
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ form_widget(form.save) }}
        {% if (product.id > 0) %}
        <a class="btn btn-default" role="button" href="{{ path('product_print', { 'id': product.id }) }}" target="_blank">Print</a>
        {% if product.getQuantitySaleable() > 0 %}
        <a class="btn btn-default" role="button" href="{{ path('salesorder_new', { 'productId': product.id }) }}">Sell</a>
        {% endif %}
        {% endif %}
        <button type="button" class="btn btn-default close-modal">Close</button>
        {% if (refId) %}
        <a class="btn btn-default btn-refedit" role="button" href="{{ path('product_edit', { 'id': refId }) }}">Back</a>
        {% endif %}
    </div>

</div>

{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

<script src="{{ asset('js/jquery.uploadifive.min.js') }}"></script>
<script>

    $('#modalEditor .close-modal').click(function () {
        location.reload();
    });

    $('.btn-refedit').click(function (e) {
        e.preventDefault();
        $("#modalEditor .modal-content").load($(this).attr('href'));
    });

    $('.btn-subedit').click(function (e) {
        e.preventDefault();
        var subProductId = $(this).closest(".input-group").find("select").val();
        console.log(subProductId);
        if (subProductId > 0) {
            $("#modalEditor .modal-content").load('{{ path('product_subedit', { 'refId': product.id }) }}/' + subProductId);
        }
    });

    $('.delete-file').click(function () {
        var attributeId = $(this).data("attribute");
        var fileId = $(this).data("file");
        $.ajax({
            url: '{{ path('product_file_delete') }}',
            type: 'POST',
            data: {
                attributeId: attributeId,
                fileId: fileId
            },
            success: function (data) {
                console.log('#col-file-' + fileId);
                $('#col-file-' + fileId).hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                document.body.innerHTML = jqXHR.responseText;
            }
        });
    });

    $('input.file-input').uploadifive({
		'checkScript': '{{ path('uploadifive_checkexists') }}',
		'formData': {},
		'uploadScript': '{{ path('uploadifive') }}',
        'multi': true,
        'onUploadComplete': function (file, data) {
            if (data.substring(0, 5) == 'Error') {
            	alert(data)
            }
            else {
                var fileNameElement = $(this).closest("div.uploadifive-button").siblings("input.file-name");
                fileNameElement.val(fileNameElement.val() + ',' + data);
            }
        }
    });

</script>
       
