
{{ form_start(form, {'action': formAction, 'attr': {'class': 'ajax-form', 'target': '.modal-content'}}) }}

<div class="modal-header">
    <button type="button" class="close close-modal"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Product edit</h4>
</div>

<div class="modal-body">

    {% if success %}
    <div class="alert alert-success" role="alert">The product is saved successfully.</div>
    {% elseif success is same as(false) %}
    <div class="alert alert-danger" role="alert">The product could not be saved. Please check details below.</div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
         
            {% if product.sku %} 
            <div class="form-group">
                {{ form_label(form.sku) }} 
                <div class="col-sm-9">
                    <div class="input-group">
                        {{ form_widget(form.sku) }} 
                        <span class="input-group-btn">
                            <a class="btn btn-default" href="{{ path('barcode_single', { 'barcode': product.sku }) }}" target="_blank"><span class="glyphicon glyphicon-barcode" aria-label="Barcode"></span></a>
                        </span>
                    </div>
                </div>
            </div>
            {% else %}
            {{ form_row(form.sku) }}
            {% endif %}
                  
            {{ form_row(form.name) }} 
            {{ form_row(form.quantity) }} 
            {{ form_row(form.price) }} 
        </div>
        <div class="col-md-6">
            {{ form_row(form.description) }} 
            {{ form_row(form.type) }} 
            {{ form_row(form.location) }} 
            {{ form_row(form.status) }} 
        </div>
    </div>

    
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Attributes - specific for this product type{% endtrans %}
        </div>
        <div class="panel-body">

            {% for formRelation in form.attributeRelations %}

                <div class="row" style="margin-bottom: 2px">
                    <div class="col-md-3 col-md-offset-2">
                        {{ formRelation.vars.data.attribute.name }}
                    </div>
                    <div class="col-md-5">
                        {% if formRelation.vars.data.attribute.type == 3 %}
                        {{ form_widget(formRelation.valueProduct) }}
                        {% else %}
                        {{ form_widget(formRelation.value) }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

   
        </div>
    </div>

    <div class="text-center">
        {{ form_widget(form.save) }}
        <button type="button" class="btn btn-default close-modal">Close</button>
    </div>

</div>

{{ form_end(form) }}

<script>

    $('#modalEditor .close-modal').click(function () {
        if (typeof loadProducts === "function") {
            $("#modalEditor").modal('hide');
            loadProducts();
        }
        else
        {
            location.reload();
        }
    });

</script>
       
