{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stock</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-5">
            {{ form_widget(form.query, {'attr': {'placeholder': 'Zoeken op Id, Sku of (deel van) naam'} }) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.status) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.producttype) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.location) }}
        </div>
        <div class="col-sm-1">
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}

    <hr />

    {{ form_start(formBulkEdit, {'action': path('product_bulkedit')}) }}

    <div class="row" style="margin-bottom: 20px; margin-top: 10px">
        <div class="col-sm-1 col-xs-3">
            <button type="button" class="btn btn-default btn-selectall">Select all</button>
        </div>
        <div class="col-sm-3 col-xs-9">
            {{ form_widget(formBulkEdit.action) }}
        </div>
        <div class="col-sm-3 col-sm-offset-5 col-xs-12">
            <a href="{{ path('purchaseorder_edit', { 'id': 0 }) }}" class="btn btn-primary pull-right" role="button">Create new purchase</a>
        </div>        
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th{% if products.isSorted('sku') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(products, 'SKU', 'sku') }}</th>
                <th{% if products.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(products, 'Name', 'name') }}</th>
                <th{% if products.isSorted('type.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(products, 'Type', 'type.name') }}</th>
                <th{% if products.isSorted('location.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(products, 'Location', 'location.name') }}</th>
                <th width="10%">Price</th>
                <th width="5%">Purch</th>
                <th width="5%">Stock</th>
                <th width="5%">Hold</th>
                <th width="5%">Sale</th>
                <th width="5%">Sold</th>
                <th width="1%"></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><input type="checkbox" id="index_bulk_edit_form_index_{{ product.id }}" name="index_bulk_edit_form[index][]" value="{{ product.id }}"></td>
                <td><a href="{{ path('product_edit', { 'id': product.id }) }}" data-target="#modalEditor" class="btn-modal" data-toggle="tooltip" title="{{ product.getAttributesList() }}">{{ product.sku }}</a></td>
                <td><a href="{{ path('product_edit', { 'id': product.id }) }}" data-target="#modalEditor" class="btn-modal" data-toggle="tooltip" title="{{ product.getAttributesList() }}">{{ product.name }}</a></td>
                <td>{{ product.type.name|default("") }}</td>
                <td>{{ product.location.name|default("") }}</td>
                <td>&euro; {{ product.price|number_format(2, ',', '.') }}</td>
                <td>{{ product.getQuantityPurchased() }}</td>
                <td>{{ product.getQuantityInStock() }}</td>
                <td>{{ product.getQuantityOnHold() }}</td>
                <td>{{ product.getQuantitySaleable() }}</td>
                <td>{{ product.getQuantitySold() }}</td>
                <td nowrap align="right">
                    {% spaceless %}
                    {% if product.getQuantityInStock() > 1 %}
                    <a class="btn btn-default btn-modal" href="{{ path('product_split', { 'id': product.id }) }}" data-target="#modalSplitter" title="Split bundle"><span class="glyphicon glyphicon-flash" aria-label="Split"></span></a>
                    {% endif %}
                    {% if product.purchaseOrderRelation and product.type and product.type.tasks|length > 0 %}
                    <a class="btn btn-default btn-modal" href="{{ path('product_checklist', { 'relationId': product.purchaseOrderRelation.id }) }}" data-target="#modalEditor" title="Checklist of tasks">
                        <span class="glyphicon glyphicon-check" aria-label="Checklist" style="margin-right: 3px"></span>
                        {{ product.purchaseOrderRelation.servicesDone }} / {{ product.type.tasks|length }}
                    </a>
                    {% endif %}
                    <a class="btn btn-success btn-modal" href="{{ path('product_edit', { 'id': product.id }) }}" data-target="#modalEditor" title="Edit"><span class="glyphicon glyphicon-pencil" aria-label="Edit"></span></a>
                    <a class="btn btn-danger btn-delete btn-modal" href="{{ path('product_delete', { 'id': product.id }) }}" title="Delete" data-class="product" data-name="{{ product.name }}"><span class="glyphicon glyphicon-remove" aria-label="Delete"></span></a>
                    {% endspaceless %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">
                    <h4>{% trans %}No records found{% endtrans %}</h4>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>

    {{ form_end(formBulkEdit, {'render_rest': false}) }}

{% endblock %}
