
{{ form_start(form, {'action': formAction, 'attr': {'class': 'ajax-form', 'target': '#modalSplitter .modal-content' }}) }}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Split: {{ product.name }}</h4>
</div>

<div class="modal-body">

    {% if success %}
    <script> location.reload(); </script>
    {% elseif success is same as(false) %}
    <div class="alert alert-danger" role="alert">The product could not be split. Please check details below.</div>
    {% endif %}

    <p>
    Enter the desired values for the separated and new product bundle (or set of individual products).
    </p>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.quantity) }} 
            {{ form_row(form.status) }} 
            {{ form_row(form.individualize) }} 
        </div>
    </div>


    <div class="text-center">
        {{ form_widget(form.split) }}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

</div>

{{ form_end(form) }}


       
