{% extends 'base.html.twig' %}
{% block body %}
    <h1>Product Type #{{ producttype.id }}</h1>

    <h2>{{ app.request.get('order') }}</h2>
    
    {{ form_start(form) }}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
        </tbody>
    </table>
            
    <h4>Attributes <a id="attr_add" class="btn btn-info" data-toggle="modal" data-target="#attrmodal">&plus; Add</a></h4>
    <table class="table table-bordered">
    {% for attr in attrlist %}
        <tr>
            <td>{{ attr.id }}</td>
            <td>{{ attr.name }}</td>
            <td>
                <a class="btn btn-warning" href="{{ path('producttype_removeAttribute', {'type': producttype.id, 'attr': attr.id}) }}">
                    Remove
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>

    <!-- Modal -->
    <div class="modal fade" id="attrmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">
                        {% trans %}
                            Add an Attribute
                        {% endtrans %}                        
                    &nbsp;
                    <a href="{{ path('admin_attribute_index') }}" class="btn btn-success btn-sm">
                        + {% trans %}Create New{% endtrans %}
                    </a>
                    </p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {{ form_start(attrform) }}
                    <div class="modal-body">
                        <p>
                            {% trans %}
                                Choose an attribute to add to this product type.<br>
                                This attribute will get added when this product type is selected
                                when editing a product.
                            {% endtrans %}
                        </p>
                        
                        {{ form_widget(attrform.attribute) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ form_widget(attrform.save) }}
                        
                    </div>
                {{ form_end(attrform) }}
            </div>
        </div>
    </div>
    
    {{ form_end(form) }}
    {# <a href="{{ path('producttype_edit_attradd', {'id': producttype.id }) }}">
       <button class="btn btn-success">+ Attribute</button>
    </a> #}
            
    <a href="{{ path('producttype_index') }}">{% trans %}Back to the list{% endtrans %}</a><br>
    
    
{% endblock %}

{% block javascripts %}
    <script>
        
        
    </script>
{% endblock %}