{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attributes list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set count = 0 %}
        {% for attribute in attributes %}
            {% set count = count+1 %}
            <tr>
                <td><a href="{{ path('admin_attribute_show', { 'id': attribute.id }) }}">{{ attribute.id }}</a></td>
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.price }}</td>
                <td>{{ attribute.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_attribute_show', { 'id': attribute.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_attribute_edit', { 'id': attribute.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    {% if count == 0 %}
        <h4>{% trans %}No records found{% endtrans %}</h4>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('admin_attribute_new') }}">Create a new attribute</a>
        </li>
    </ul>
{% endblock %}
