{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attribute</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attribute.id }}</td>
            </tr>
            <tr>
                <th>Attr_code</th>
                <td>{{ attribute.attrcode }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ attribute.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ attribute.price }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ attribute.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_attribute_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_attribute_edit', { 'id': attribute.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
