{% extends "::base.html.twig" %}

{% block body %}
    
    <h1 style="margin-bottom: 30px">{% trans %}Sales Order{% endtrans %}</h1>

    {% if success %}
    <div class="alert alert-success" role="alert">The order is saved successfully.</div>
    {% elseif success is same as(false) %}
    <div class="alert alert-danger" role="alert">The order could not be saved. Please check details below.</div>
    {% endif %}

    {{ form_start(form) }}
    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Order details{% endtrans %}
                </div>
                <div class="panel-body">
                    {% if order.orderNr %} 
                    <div class="form-group">
                        {{ form_label(form.orderNr) }} 
                        <div class="col-sm-9">
                            <div class="input-group">
                                {{ form_widget(form.orderNr) }}
                                <span class="input-group-btn">
                                    <a class="btn btn-default" href="{{ path('barcode_single', { 'barcode': order.orderNr }) }}" target="_blank"><span class="glyphicon glyphicon-barcode" aria-label="Barcode"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {{ form_row(form.orderNr) }}
                    {% endif %}

                    {{ form_row(form.orderDate) }} 
                    {{ form_row(form.status) }} 
                    {% if form.location is defined %}
                    {{ form_row(form.location) }} 
                    {% endif %}
                    {{ form_row(form.remarks) }} 
                    {% if (order.id == 0) %}
                    {{ form_row(form.backorder) }} 
                    {{ form_row(form.repairorder) }} 
                    {% endif %}
                </div>
            </div>

            {% if (order.backingPurchaseOrder) %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Back order{% endtrans %}
                </div>
                <div class="panel-body">
                    This is a back order. 
                    The products were not in stock at moment of sales. 
                    When this sales order was made, the system made a <a href="{{ path('purchaseorder_edit', { 'id': order.backingPurchaseOrder.id }) }}">purchase order</a> too.
                    To check if products are arrived, please check stock column below. 
                    If it is below zero, it is still in back order. 
                    If stock is zero (or higher), the product is in stock and the quantity is assigned to this sales order.
                </div>
            </div>
            {% elseif (order.repair) %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Repair order{% endtrans %}
                </div>
                <div class="panel-body">
                    {{ form_row(form.repair.deliveryDate) }} 
                    {{ form_row(form.repair.deliveryType) }} 
                    {{ form_row(form.repair.description) }} 
                    {{ form_row(form.repair.damage) }} 
                </div>
            </div>
            {% endif %}

        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Pricing{% endtrans %}
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-sm-3 text-right"><h4>Total</h4></div>
                        <div class="col-sm-9"><h4>&euro; {{ order.calculateTotalPrice()|number_format(2, ',', '.') }}</h4></div>
                    </div>
                    {{ form_row(form.transport) }}
                    {{ form_row(form.discount) }} 
                    {{ form_row(form.isGift) }} 
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Customer{% endtrans %}
                </div>
                <div class="panel-body">
                    {{ form_row(form.newOrExistingCustomer) }} 
                    <div id="existingCustomer">
                        {{ form_row(form.customer) }} 
                    </div>
                    <div id="newCustomer">
                        {{ form_row(form.newCustomer.name) }} 
                        {{ form_row(form.newCustomer.kvkNr) }} 
                        {{ form_row(form.newCustomer.representative) }} 
                        {{ form_row(form.newCustomer.email) }} 
                        {{ form_row(form.newCustomer.phone) }} 
                        {{ form_row(form.newCustomer.street) }} 
                        {{ form_row(form.newCustomer.streetExtra) }} 
                        {{ form_row(form.newCustomer.city) }} 
                        {{ form_row(form.newCustomer.zip) }} 
                        {{ form_row(form.newCustomer.state) }} 
                        {{ form_row(form.newCustomer.country) }} 
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Products{% endtrans %}
        </div>
        {% if ( order.id > 0) %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Stock</th>
                    <th>Standard<br />price p.u.</th>
                    <th width="15%">This sale<br />price p.u.</th>
                    <th width="10%">This sale<br />quantity</th>
                    <th width="1%"></th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
            {% for formRelation in form.productRelations %}
            {% set product = formRelation.vars.data.product %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type.name|default("") }}</td>
                    <td>{{ product.getQuantityInStock() }}</td>
                    <td>&euro; {{ product.price|number_format(2, ',', '.') }}</td>
                    <td>{{ form_widget(formRelation.price) }}</td>
                    <td>{{ form_widget(formRelation.quantity) }}</td>
                    <td nowrap>
                        <a class="btn btn-danger btn-delete" href="{{ path('salesorder_delete_relation', { 'id': order.id, 'productId': product.id }) }}" data-class="product from order" data-name="{{ product.name }}"><span class="glyphicon glyphicon-remove" aria-label="Delete"></span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99">
                        <h4>{% trans %}No products{% endtrans %}</h4>
                    </td>
                </tr>
            {% endfor %}
        
            </tbody>
        </table>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    {% if (order.backingPurchaseOrder or order.repair) %}
                    {{ form_row(form.newProduct) }}
                    {% else %}
                    {{ form_row(form.addProduct) }}
                    {% endif %}
                </div>
                <div class="col-sm-6 text-right">
                    <i>Products can be edited or fully deleted from stock in <a href="{{ path('product_index') }}">stock index</a></i>
                </div>
            </div>
        </div>
        {% else %}
        <div class="panel-body">Please save order first...</div>
        {% endif %}
    </div>

    <div class="panel panel-default">
        <div class="panel-body text-center">
            {{ form_widget(form.save) }}
        </div>
    </div>
    
    {{ form_widget(form._token) }}            
    {{ form_end(form, {'render_rest': false}) }}

 {% endblock %}
 
 {% block javascripts %}
     <script>

         /* New or existing customer */

         newOrExistingCustomer();

         $('input[name="sales_order_form[newOrExistingCustomer]"]').change(function () {
             newOrExistingCustomer();
         });

         function newOrExistingCustomer() {
             var val = $('input[name="sales_order_form[newOrExistingCustomer]"]:checked').val()

             if (val == 'new') {
                 $('div#newCustomer').show();
                 $('div#existingCustomer').hide();
             }
             else {
                 $('div#newCustomer').hide();
                 $('div#existingCustomer').show();
             }
         }

         $('[required]').prop('required', function () {
             return $(this).is(':visible');
         });
         
         {% if (order.backingPurchaseOrder) %}

         /* New product (Backorder) */

         $('select[name="sales_order_form[newProduct]"]').change(function () {
             if ($(this).val()) {
                 $("#modalEditor .modal-content").load('{{ path('product_new', { 'purchaseOrderId': order.backingPurchaseOrder.id, 'backingSalesOrderId': order.id }) }}/' + $(this).val(), function () {
                     focusBarcodeInput();
                 });
                 $("#modalEditor").modal('show');
             }
         });

        {% else %}

        /* Add product: Submit form on select */

        setInterval(function() {
            if ($('input[name="sales_order_form[addProduct]"]').val()) {
                $('form[name="sales_order_form"]').submit();
            }
        }, 1000);

        {% endif %}

     </script>
 {% endblock %}
