<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Copiatek ERCP{% endblock %}</title>
        
        <link href="{{ asset('bootstrap/stylesheet/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('stylesheet/override_style.css') }}" rel="stylesheet"/>
        
        {% block stylesheets %}
            
        {% endblock %}
            
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-default navbar-gradient">
          <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><img height="28" src="{{ asset('images/logos/header-logoGlow.png') }}"></a>
                </div>
                <div class="navbar-collapse collapse" id="mainMenu">
                    {% block navlist %}
                      {{ knp_menu_render('AppBundle:Builder:createMainMenu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
                    {% endblock %}
               
                {% if app.user %}
                 <ul class="nav navbar-nav navbar-right">
                     <li><a href="{{ logout_path() }}">Logout</a></li>
                 </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                     <li><a href="{{ path("fos_user_security_login") }}">Login</a></li>
                    </ul>
                {% endif %}
                 </div>
            </div>
          </div>
        </nav>
        {% endblock %}
        <div class="container">
            
            {% block breadcrumb %}
            {% endblock %}
            
            {% block body %}
            <h2>Welcome. This is the Enterprise Resource Control and Planning (ERCP) System by Copiatek!</h2>
            {% endblock %}
            
        </div>
        <script src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
          
        {% endblock %}
    </body>
</html>
