<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Nexxus{% endblock %}</title>
        
        <link href="{{ asset('bootstrap/stylesheet/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('stylesheet/bootstrap-multiselect.css') }}" rel="stylesheet">
        <link href="{{ asset('stylesheet/bootstrap-combobox.css') }}" rel="stylesheet">
        <link href="{{ asset('stylesheet/uploadifive.css') }}" rel="stylesheet"/>  
        <link href="{{ asset('stylesheet/override_style.css') }}" rel="stylesheet"/>  
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->

        {% block extraHeaders %}
        {% endblock %}
    </head>
    <body>
        <div class="modal fade" tabindex="-1" role="dialog" id="modalOrderEditor" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content"></div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalConfirm" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Confirm removal</h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger btn-delete-confirmed">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        {% block navbar %}
        <nav class="navbar navbar-default navbar-gradient">
          <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                 <a class="navbar-brand" href="{{ path('home') }}">Nexxus {{ app.user.location.name|default("") }}</a>
                </div>
                <div class="navbar-collapse collapse" id="mainMenu">
                    {% block navlist %}
                      {{ knp_menu_render('AppBundle:Builder:createMainMenu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
                      {{ knp_menu_render('AppBundle:Builder:createUserMenu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
                    {% endblock %}
                 </div>
            </div>
          </div>
        </nav>
        {% endblock %}

        <div class="container">
            {% block admin %}
            {% endblock %}
            {% block body %}
            {% endblock %}
        </div>

        <script src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-combobox.js') }}"></script>
        <script src="{{ asset('js/bootstrap-multiselect.js') }}"></script>
        <script src="{{ asset('js/jquery.uploadifive.min.js') }}"></script>
        <script src="{{ asset('js/scripts.js') }}?refresh={{ random() }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
