<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Copiatek ERCP{% endblock %}</title>
        
        {# Bootstrap block #}
        <link href="{{ asset('bootstrap/stylesheet/bootstrap.css') }}" rel="stylesheet"/>
        <script src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {# endblock #}
        
        <link href="{{ asset('bootstrap/test.css') }}" rel="stylesheet"/>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-default navbar-gradient">
          <div class="container-fluid">
            <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img height="28" src="{{ asset('images/logos/header-logoGlow.png') }}"></a>
            </div>
            <div class="navbar-collapse collapse" id="mainMenu">
                {% block navlist %}
                  {#
                  <li><a href="/"><img height="28" src="{{ asset('images/logos/header-logoGlow.png') }}"></a></li>
                  <li><a href="{{ path('track') }}">Track & Trace</a></li>
                  <li><a href="#">Meld & Registratie</a></li>
                  <li><a href="#">Klanten</a></li>
                  <li><a href="#">Track & Trace</a></li>
                  #}
                  {{ knp_menu_render('AppBundle:Builder:createMainMenu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
                {% endblock %}
            </div>
            </div>
          </div>
        </nav>
        {% endblock %}
        <div class="container">
            
            {% block breadcrumb %}
            {% endblock %}
            
            {% block body %}
            <h2>Welkom op het nieuwe ERCP Systeem!</h2>
            {% endblock %}
            
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
