{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Admin Page{% endtrans %}</h1>
    
    <h4><a href="{{ path('admin_sales') }}">{% trans %}View Sales{% endtrans %}</a></h4>
    <h4><a href="{{ path('admin_user_index', {'page': 1}) }}">{% trans %}Manage Users{% endtrans %}</a></h4>
    
    <h3><u>{% trans %}Product Constants{% endtrans %}</u></h3>
    <h4><a href="{{ path('producttype_index') }}">Edit Product Types</a></h4>
    <h4><a href="{{ path('pstatus_index') }} ">{% trans %}Edit Product Statuses{% endtrans %}</a></h4>
    <h4><a href="{{ path('admin_location_index') }}">{% trans %}Edit Locations{% endtrans %}</a></h4>
    <h4><a href="{{ path('status_index') }} ">{% trans %}Edit Order Statuses{% endtrans %}</a></h4>
    
{% endblock %}
    
