{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer list</h1>

    {{ form_start(form) }}
    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-6">
            {{ form_widget(form.query, {'attr': {'placeholder': 'Zoeken op Id, KvK, e-mail of (deel van) naam'} }) }}
        </div>
        <div class="col-sm-2">
            {% if form.location is defined %}
            {{ form_widget(form.location) }}
            {% endif %}
        </div>
        <div class="col-sm-1">
            {{ form_widget(form.submit) }}
        </div>
        <div class="col-sm-3">
            <a href="{{ path('customer_edit', { 'id': 0 }) }}" class="btn btn-primary pull-right" role="button">Create new customer</a>
        </div>
    </div>
    {{ form_end(form) }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th{% if customers.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(customers, 'Id', 'id') }}</th>
                <th{% if customers.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(customers, 'Name', 'name') }}</th>
                <th>Representative</th>
                <th{% if customers.isSorted('email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(customers, 'E-mail', 'email') }}</th>
                <th{% if customers.isSorted('location.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(customers, 'Location', 'location.name') }}</th>
                <th width="1%"></th>
            </tr>
            <tr>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a class="inlist" href="{{ path('customer_edit', { 'id': customer.id }) }}" data-toggle="tooltip" title="{{ customer.getAddressString() }}">{{ customer.id }}</a></td>
                <td><a class="inlist" href="{{ path('customer_edit', { 'id': customer.id }) }}" data-toggle="tooltip" title="{{ customer.getAddressString() }}">{{ customer.name }}</a></td>
                <td>{{ customer.representative }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.location.name|default("") }}</td>
                <td nowrap>
                    <a class="btn btn-success" href="{{ path('customer_edit', { 'id': customer.id }) }}"><span class="glyphicon glyphicon-pencil" aria-label="Edit"></span></a>
                    {% if customer.salesOrders|length == 0 %}
                    <a class="btn btn-danger btn-delete" href="{{ path('customer_delete', { 'id': customer.id }) }}" data-class="customer" data-name="{{ customer.name }}"><span class="glyphicon glyphicon-remove" aria-label="Delete"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">
                    <h4>{% trans %}No records found{% endtrans %}</h4>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(customers) }}
    </div>
{% endblock %}
