{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supplier list</h1>

    <h4><a href="{{ path('supplier_edit', { 'id': 0 }) }}">Create new supplier</a></h4>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Representative</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.representative }}</td>
                <td>{{ supplier.email }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('supplier_edit', { 'id': supplier.id }) }}">Edit</a>
                    {% if supplier.purchaseOrders|length == 0 %}
                    <a class="btn btn-warning" href="{{ path('supplier_delete', { 'id': supplier.id }) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">
                    <h4>{% trans %}No records found{% endtrans %}</h4>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
{% endblock %}
