{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addresses list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Street1</th>
                <th>Street2</th>
                <th>City</th>
                <th>Country</th>
                <th>State</th>
                <th>Zip</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.type }}</td>
                <td>{{ address.street1 }}</td>
                <td>{{ address.street2 }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.country }}</td>
                <td>{{ address.state }}</td>
                <td>{{ address.zip }}</td>
                <td>
                    <a href="{{ path('admin_address_edit', {'id': address.id} ) }}"><button class="btn btn-success" name="Edit">Edit</button></a>
                    <a href="{{ path('admin_address_show', {'id': address.id} ) }}"><button class="btn btn-success" name="Show">Show</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_address_new') }}">Create a new address</a>
        </li>
    </ul>
{% endblock %}
