{% extends 'base.html.twig' %}

{% block extraHeaders %}

    <link href='{{ asset('js/fullcalendar/core/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('js/fullcalendar/daygrid/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('js/fullcalendar/timegrid/main.css') }}' rel='stylesheet' />

    <script src='{{ asset('js/fullcalendar/core/main.js') }}'></script>
    <script src='{{ asset('js/fullcalendar/core/locales/nl.js') }}'></script>
    <script src='{{ asset('js/fullcalendar/daygrid/main.js') }}'></script>
    <script src='{{ asset('js/fullcalendar/timegrid/main.js') }}'></script>
    
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'timeGrid' ],
          defaultView: 'timeGridWeek',
          allDaySlot: false,
          locale: 'nl',
          hiddenDays: [0, 6],
          minTime: "07:00:00",
          maxTime: "19:00:00",
          events: {{ events|json_encode|raw }}
        });

        calendar.render();
      });

    </script>

{% endblock %}

{% block body %}
    <div id='calendar'></div>
{% endblock %}
