{% extends 'base.html.twig' %}
{% trans_default_domain "product" %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Edit Product{% endtrans %}</h1>
        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(edit_form) }}
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} SKU {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.sku, {'attr': {'readonly': 'readonly'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Name {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.name) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Description {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.description) }}
                </div>
            </div>
            {% if form.type is defined %}
                <div class="form-group">
                    <label class="control-label col-lg-2">
                        {% trans %} Type {% endtrans %}
                    </label>
                    <div class="col-lg-10">
                        {{ form_widget(edit_form.type) }}
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Status {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.status, {'choice_translation_domain': 'status'} ) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Location {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.location) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Brand {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.brand) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Owner {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.owner) }}
                </div>
            </div>
            {{ form_row(edit_form._token) }}
            <div class="form-group"> 
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" value="Edit" />
                </div>
            </div>
        </form>

        <div class="form-group"> 
            <div class="col-lg-offset-2 col-lg-10">
                <a href="{{ path('track_index') }}">
                    {% trans %} Back to the list {% endtrans %}
                </a>
            </div>
        </div>
        <div class="form-group"> 
            <div class="col-lg-offset-2 col-lg-10">
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
