{% extends 'base.html.twig' %}
{% trans_default_domain "product" %}

{# Check for page number #}
{% if app.request.get('page') is defined %}
    {% set page = app.request.get('page') %}
  {% else %}
    {% set page = 1 %}
{% endif %}


{% block body %}
    <h1>{% trans %}Product List{% endtrans %}</h1>
    <h2>{{ app.request.get('order') }}</h2>
    <h4><a href="{{ path('track_new') }}">{% trans %}Create a new product{% endtrans %}</a></h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <table>
                        <tr>
                            <td>
                                <a href="{{ path('track_index', {'page': page, 'sortBy': 'id=ASC'}) }}">
                                    <small><span class="glyphicon glyphicon-menu-up"></span></small>
                                </a>
                            </td>
                            <td rowspan="2">&nbsp;#</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('track_index', {'page': page, 'sortBy': 'id=DESC'}) }}">
                                    <small><span class="glyphicon glyphicon-menu-down"></span></small>
                                </a>
                            </td>
                            
                        </tr>
                    </table>
                </th>
                <th>
                    <table>
                        <tr>
                            
                            <td>
                                <a href="{{ path('track_index', {'page': page, 'sortBy': 'sku=ASC'}) }}">
                                    <small><span class="glyphicon glyphicon-menu-up"></span></small>
                                </a>
                            </td>
                            <td rowspan="2">&nbsp;SKU</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('track_index', {'page': page, 'sortBy': 'sku=DESC'}) }}">
                                    <small><span class="glyphicon glyphicon-menu-down"></span></small>
                                </a>
                            </td>
                            
                        </tr>
                    </table>
                </th>
                
                <th>
                    {% trans %}Name{% endtrans %}
                </th>
                
                <th>
                    {% trans %}Location{% endtrans %}
                </th>
                
                <th>
                    {% trans %}Description{% endtrans %}
                </th>
                
                <th>
                    {% trans %}Status{% endtrans %}
                </th>
                
                <th>
                    {% trans %}Brand{% endtrans %}
                </th>
                
                <th>
                    {% trans %}Department{% endtrans %}
                </th>
                
                <th>
                    {% trans %}Owner{% endtrans %}
                </th>
                
                <th>
                    {% trans %}Actions{% endtrans %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('track_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td><b>{{ product.sku }}</b></td>
                <td>{{ product.name }}</td>
                <td>{{ product.location }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.status }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.department }}</td>
                <td>{{ product.owner }}</td>
                <td>
                    <div class="list-group">
                        <a class="list-group-item" href="{{ path('track_edit', { 'id': product.id }) }}">
                            {% trans %}Edit{% endtrans %}
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
