{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ product.sku }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ product.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.status }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ product.department }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ product.owner }}</td>
            </tr>
        </tbody>
    </table>
        <a href="{{ path('track_edit', { 'id': product.id }) }}"><button>Edit</button></a><br>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}<br>
        <a href="{{ path('track_index') }}">Back to the list</a><br>
{% endblock %}
