{% extends 'base.html.twig' %}
{% trans_default_domain "product" %}

{% block body %}
    <h1>Product</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>SKU</th>
                <td>
                    {{ product.sku }}
                    &nbsp;
                    <a href="{{ path('track_print_barcode', {'sku': product.sku }) }}" target="_BLANK">
                        <img src="{{ asset('images/barcode.png') }}">
                    </a>
                </td>
            </tr>
            <tr>
                <th>{% trans %} Name {% endtrans %}</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>{% trans %} Location {% endtrans %}</th>
                <td>{{ product.location }}</td>
            </tr>
            <tr>
                <th>{% trans %} Description {% endtrans %}</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>{% trans %} Type {% endtrans %}</th>
                <td>{{ product.type }}</td>
            </tr>
            <tr>
                <th>{% trans %} Status {% endtrans %}</th>
                <td>{{ product.status }}</td>
            </tr>
            <tr>
                <th>{% trans %} Brand {% endtrans %}</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>{% trans %} Department {% endtrans %}</th>
                <td>{{ product.department }}</td>
            </tr>
            <tr>
                <th>{% trans %} Owner {% endtrans %}</th>
                <td>{{ product.owner }}</td>
            </tr>
        </tbody>
    </table>
    {% if attributes is defined %}
        <h4>Product Attributes</h4>
        <table class="table table-bordered">
            <tbody>
                {% for attr in attributes %}
                    <tr>
                        <th>{{ attr.name }}</th>
                        <td>{{ attr.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
            
        <a href="{{ path('track_edit', { 'id': product.id }) }}"><button>{% trans %}Edit{% endtrans %}</button></a><br>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}<br>
        <a href="{{ path('track_index') }}">{% trans %}Back to the list{% endtrans %}</a><br>
{% endblock %}
