{% extends "::base.html.twig" %}

{% block body %}
    
    <h1 style="margin-bottom: 30px">{% trans %}Purchase Order{% endtrans %}</h1>

    {% if success %}
    <div class="alert alert-success" role="alert">The order is saved successfully.</div>
    {% elseif success is same as(false) %}
    <div class="alert alert-danger" role="alert">The order could not be saved. Please check details below.</div>
    {% endif %}

    {{ form_start(form) }}
    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Order details{% endtrans %}
                </div>
                <div class="panel-body">
                    {% if order.orderNr %} 
                    <div class="form-group">
                        {{ form_label(form.orderNr) }} 
                        <div class="col-sm-9">
                            <div class="input-group">
                                {{ form_widget(form.orderNr) }}
                                <span class="input-group-btn">
                                    <a class="btn btn-default" href="{{ path('barcode_single', { 'barcode': order.orderNr }) }}" target="_blank"><span class="glyphicon glyphicon-barcode" aria-label="Barcode"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {{ form_row(form.orderNr) }}
                    {% endif %}

                    {{ form_row(form.orderDate) }} 
                    {{ form_row(form.status) }} 
                    {{ form_row(form.remarks) }} 
                </div>
            </div>

            {% if order.pickup %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Pickup{% endtrans %}
                </div>
                <div class="panel-body">
                    {{ form_row(form.pickupDate) }}
                    {{ form_row(form.logistics) }}
                </div>
                <table class="table">
                    <tr>
                        <td width="40%">Proposed pickup date</td>
                        <td>{{ order.pickup.pickupDate|date("Y-m-d")|default("Unknown") }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ order.pickup.description|default("None") }}</td>
                    </tr>
                    <tr>
                        <td>Origin</td>
                        <td>{{ order.pickup.origin|default("None") }}</td>
                    </tr>
                    <tr>
                        <td>Data destruction</td>
                        <td>
                            {% if order.pickup.dataDestruction == 0 %}
                                None
                            {% elseif order.pickup.dataDestruction == 1 %}
                                Format
                            {% elseif order.pickup.dataDestruction == 2 %}       
                                Destruction statement
                            {% elseif order.pickup.dataDestruction == 3 %}
                                Shred
                            {% elseif order.pickup.dataDestruction == 4 %}
                                Killdisk
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Processing agreement</td>
                        {% if order.pickup.agreement %}
                        <td><a href="{{ path("download", { 'id': order.pickup.agreement.id }) }}" target="_blank">{{ order.pickup.agreement.originalClientFilename }}</a></td>
                        {% else %}
                        <td>No</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Images</td>
                        <td>
                            <div class="row">
                            {% for image in order.pickup.images %}
                                <div class="col-md-4 col-filecontainer" id="col-file-{{ image.id }}">
                                    <div class="panel panel-default panel-filecontainer">
                                        <div class="panel-body panel-body-small">
                                            <a href="{{ path("download", { 'id': image.id }) }}" title="{{ image.originalClientFilename }}" target="_blank">{{ image.originalClientFilename }}</a><br />
                                            <img src="{{ path("download", { 'id': image.id }) }}" title="{{ image.originalClientFilename }}" />
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            {% endif %}

        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Pricing{% endtrans %}
                </div>
                <div class="panel-body">
                    <div class="row form-display">
                        <div class="col-sm-3 text-right"><h4>Total</h4></div>
                        <div class="col-sm-9"><h4>&euro; {{ order.calculateTotalPrice()|number_format(2, ',', '.') }}</h4></div>
                    </div>
                    {{ form_row(form.transport) }}
                    {{ form_row(form.discount) }} 
                    {{ form_row(form.isGift) }} 
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Supplier{% endtrans %}
                </div>
                <div class="panel-body">
                    {{ form_row(form.newOrExistingSupplier) }} 
                    <div id="existingSupplier">
                        {{ form_row(form.supplier) }} 
                    </div>
                    <div id="newSupplier">
                        {{ form_row(form.newSupplier.name) }} 
                        {{ form_row(form.newSupplier.kvkNr) }} 
                        {{ form_row(form.newSupplier.representative) }} 
                        {{ form_row(form.newSupplier.email) }} 
                        {{ form_row(form.newSupplier.phone) }} 
                        {{ form_row(form.newSupplier.street) }} 
                        {{ form_row(form.newSupplier.streetExtra) }} 
                        {{ form_row(form.newSupplier.city) }} 
                        {{ form_row(form.newSupplier.zip) }} 
                        {{ form_row(form.newSupplier.state) }} 
                        {{ form_row(form.newSupplier.country) }} 
                    </div> 
                </div>
            </div>
        </div>
    </div>
            
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Products{% endtrans %}
        </div>
        {% if ( order.id > 0) %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="5%">Id</th>
                    <th width="15%">SKU</th>
                    <th width="30%">Name</th>
                    <th width="20%">Type</th>
                    <th width="10%">Retail<br />price p.u.</th>
                    <th width="15%">Purchase<br />price p.u.</th>
                    <th width="10%">Purchase<br />quantity</th>
                    <th width="1%"></th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
            {% for formRelation in form.productRelations %}
            {% set product = formRelation.vars.data.product %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type.name|default("") }}</td>
                    <td>&euro; {{ product.price|number_format(2, ',', '.') }}</td>
                    <td>{{ form_widget(formRelation.price) }}</td>
                    <td>{{ form_widget(formRelation.quantity) }}</td>
                    <td nowrap>
                        <a class="btn btn-success" href="{{ path('product_edit', { 'id': product.id }) }}" data-toggle="modal" data-target="#modalOrderEditor"><span class="glyphicon glyphicon-pencil" aria-label="Edit"></span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99">
                        <h4>{% trans %}No products{% endtrans %}</h4>
                    </td>
                </tr>
            {% endfor %}
        
            </tbody>
        </table>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.newProduct) }}
                </div>
                <div class="col-sm-6 text-right">
                    <i>Products can be deleted in <a href="{{ path('product_index') }}">stock index</a></i>
                </div>
            </div>
        </div>
        {% else %}
        <div class="panel-body">Please save order first...</div>
        {% endif %}
    </div>

    <div class="panel panel-default">
        <div class="panel-body text-center">
            {{ form_widget(form.save) }}
            {% if (order.id > 0) %}
            <a class="btn btn-default" href="{{ path('purchaseorder_print', { 'id': order.id }) }}" target="_blank">Print</a>
            {% endif %}
        </div>
    </div>
    
    {{ form_widget(form._token) }}            
    {{ form_end(form, {'render_rest': false}) }}

    <div id="newProductModalContainer"></div>

 {% endblock %}
 
 {% block javascripts %}
     <script>

         /* New or existing supplier */

         newOrExistingSupplier();

         $('input[name="purchase_order_form[newOrExistingSupplier]"]').change(function () {
             newOrExistingSupplier();
         });

         function newOrExistingSupplier() {
             var val = $('input[name="purchase_order_form[newOrExistingSupplier]"]:checked').val()

             if (val == 'new') {
                 $('div#newSupplier').show();
                 $('div#existingSupplier').hide();
             }
             else {
                 $('div#newSupplier').hide();
                 $('div#existingSupplier').show();
             }
         }

         $('[required]').prop('required', function () {
             return $(this).is(':visible');
         });

        {% if ( order.id > 0) %}

         /* New product */

         $('select[name="purchase_order_form[newProduct]"]').change(function () {
             if ($(this).val()) {
                 $("#newProductModalContainer").load('{{ path('product_new', { 'purchaseOrderId': order.id }) }}/0/' + $(this).val(), function () {
                     focusBarcodeInput();
                 });
                 
             }
         });

         {% endif %}

     </script>
 {% endblock %}
