{% extends 'base.html.twig' %}

{% block body %}
    <h1>Purchase order list</h1>

    {{ form_start(form) }}
    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-4">
            {{ form_widget(form.query, {'attr': {'placeholder': 'Zoeken op ordernummer'} }) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.status) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.location) }}
        </div>
        <div class="col-sm-1">
            {{ form_widget(form.submit) }}
        </div>
        <div class="col-sm-3">
            <a href="{{ path('purchaseorder_edit') }}" class="btn btn-primary pull-right" role="button">Create new purchase</a>
        </div>
    </div>
    {{ form_end(form) }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th{% if orders.isSorted('orderNr') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(orders, 'Order nr', 'orderNr') }}</th>
                <th{% if orders.isSorted('orderDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(orders, 'Order date', 'orderDate') }}</th>
                <th{% if orders.isSorted('supplier.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(orders, 'Supplier', 'supplier.name') }}</th>
                <th{% if orders.isSorted('status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(orders, 'Status', 'status') }}</th>
                <th{% if orders.isSorted('location.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(orders, 'Location', 'location.name') }}</th>
                <th width="1%"></th>
            </tr>
            <tr>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.orderNr }}</td>
                <td>{{ order.orderDate|date("Y-m-d") }}</td>
                <td>{{ order.supplier.name|default("") }}</td>
                <td>{{ order.status.name|default("") }}</td>
                <td>{{ order.location.name|default("") }}</td>
                <td nowrap>
                    <a class="btn btn-success" href="{{ path('purchaseorder_edit', { 'id': order.id }) }}"><span class="glyphicon glyphicon-pencil" aria-label="Edit"></span></a>
                    <a class="btn btn-danger" href="{{ path('purchaseorder_delete', { 'id': order.id }) }}"><span class="glyphicon glyphicon-remove" aria-label="Delete"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">
                    <h4>{% trans %}No records found{% endtrans %}</h4>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(orders) }}
    </div>
{% endblock %}
