{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}
    Edit multiple items
    {% endtrans %}
{% endblock %}

{% block body %}
    <h1>Edit multiple items</h1>
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        <div class="form-group">
            <label class="control-label">Z
                {% trans %} SKU {% endtrans %}
            </label>
                {{ form_widget(edit_form.sku, {'attr': {'readonly': 'readonly'} }) }}
        </div>
        <div class="form-group">
            <label class="control-label">
                {% trans %} Name {% endtrans %}
            </label>
                {{ form_widget(edit_form.name) }}
        </div>
        <div class="form-group">
            <label class="control-label">
                {% trans %} Quantity {% endtrans %}
            </label>
                {{ form_widget(edit_form.quantity) }}
        </div>
        {% if sellable %}
         <div class="form-group">
             <label class="control-label">
                 {% trans %} Price {% endtrans %}
             </label>
                 {{ form_widget(edit_form.price) }}
         </div>
        {% endif %}
        <div class="form-group">
            <label class="control-label">
                {% trans %} Description {% endtrans %}
            </label>
                {{ form_widget(edit_form.description) }}
        </div>
        <div class="form-group">
            <label class="control-label">
                {% trans %} Type {% endtrans %}
            </label>
                {{ form_widget(edit_form.type) }}
        </div>
        <div class="form-group">
            <label class="control-label">
                {% trans %} Status {% endtrans %}
            </label>
                {{ form_widget(edit_form.status, {'choice_translation_domain': 'status'} ) }}
        </div>
        <div class="form-group">
            <label class="control-label">
                {% trans %} Location {% endtrans %}
            </label>
                {{ form_widget(edit_form.location) }}
        </div>
        <div class="form-group">
            <label class="control-label">
                {% trans %} Brand {% endtrans %}
            </label>
                {{ form_widget(edit_form.brand) }}
        </div>
        <div class="form-group">
            <label class="control-label">
                {% trans %} Department {% endtrans %}
            </label>
                {{ form_widget(edit_form.department) }}
        </div>
        <div class="form-group">
            <label class="control-label">
                {% trans %} Owner {% endtrans %}
            </label>
                {{ form_widget(edit_form.owner) }}
        </div>
 

 {{ form_end(edit_form) }}

{% endblock %}
