{% extends 'base.html.twig' %}

{% block body %}
    <h1>Locations</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td><a href="{{ path('admin_location_show', { 'id': location.id }) }}">{{ location.id }}</a></td>
                <td>{{ location.name }}</td>
                <td>
                    <a href="{{ path('admin_location_edit', { 'id': location.id }) }}">
                        <button type="button" class="btn btn-success">
                            Edit
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_location_new') }}">Create a new location</a>
        </li>
    </ul>
{% endblock %}
