{% extends 'base.html.twig' %}

{% block body %}
    

<div class="row">
    <div class="col-md-2 hidden-sm">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans %}Belangrijkste taken{% endtrans %}</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked nav-dashboard">
                    <li><a href="{{ path('purchaseorder_index') }}">{% trans %}Inkooporders{% endtrans %}</a></li>
                    <li><a href="{{ path('salesorder_index') }}">{% trans %}Verkooporders{% endtrans %}</a></li>
                    <li><a href="{{ path('product_index') }}">{% trans %}Voorraad{% endtrans %}</a></li>
                    <li><a href="{{ path('customer_index') }}">{% trans %}Klanten{% endtrans %}</a></li>
                    <li><a href="{{ path('customer_edit', {'id': 0}) }}">{% trans %}Nieuwe klant{% endtrans %}</a></li>
                    <li><a href="{{ path('supplier_index') }}">{% trans %}Leveranciers{% endtrans %}</a></li>
                    <li><a href="{{ path('supplier_edit', {'id': 0}) }}">{% trans %}Nieuwe leverancier{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans %}Zoeken{% endtrans %}</div>
                    <div class="panel-body panel-dashboardsearch">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-sm-10">
                                {{ form_widget(form.query) }}
                            </div>
                            <div class="col-sm-2">
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                        {{ form_widget(form.type) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        {% if result is iterable %}

        <div class="row">
            <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans %}Found products and orders{% endtrans %}</div>
            <div class="panel-body">
                {% for line in result %}
                <a class="btn btn-success pull-right" href="{{ path('product_edit', { 'id': 0 }) }}" data-toggle="modal" data-target="#modalEditor"><span class="glyphicon glyphicon-pencil" aria-label="Edit"></span></a>
                {{ line }}
                <hr />
                {% endfor %}
                {% if result|length %}
                    <i>{{ result|length }} products and orders found</i>
                {% else %}
                    <i>No products or orders found</i>
                {% endif %}
            </div>
        </div>
            </div>
        </div>

        {% else %}

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-small">
                        <h5>{% trans %}Laatste 5 verkopen{% endtrans %}</h5>
                        <ul>
                            <li>Huawei XP542</li>
                            <li>HP Invento 2.0</li>
                            <li>Dell Vostro 321 units</li>
                            <li>Sony Vaio Excellent</li>
                            <li>Lenovo laptops 15 inch 12 units</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-small">
                        <h5>{% trans %}Meest actieve locaties{% endtrans %}</h5>
                        <ul>
                            <li>Den Haag</li>
                            <li>Amsterdam</li>
                            <li>Arnhem</li>
                            <li>Breda</li>
                            <li>Lutjebroek</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-small">
                        <h5>{% trans %}Laatst gewijzigde producten{% endtrans %}</h5>
                        <ul>
                            <li>HP Invento 2.0</li>
                            <li>Lenovo laptops 15 inch 12 units</li>
                            <li>Huawei XP542</li>
                            <li>Dell Vostro 321 units</li>
                            <li>Sony Vaio Excellent</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-small">
                        <h5>{% trans %}Berichten{% endtrans %}</h5>
                        <ul>
                            <li>Vandaag uren registreren</li>
                            <li>Terugbelverzoek voor Sjors</li>
                            <li>Dell's ophalen in Arnhem</li>
                            <li>Sony Vaio Excellent</li>
                            <li>Vrijdag borrel met bitterballen</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-primary btn-120" href="#" role="button">+ {% trans %}Reparatie{% endtrans %}</a>
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-label="Menu"></span> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">{% trans %}Nieuwe reparatie{% endtrans %}</a></li>
                            <li><a href="#">{% trans %}Lijst van alle reparaties{% endtrans %}</a></li>
                            <li><a href="{{ path('orderstatus_index') }}">{% trans %}Orderstatussen wijzigen{% endtrans %}</a></li>
                          </ul>
                        </div>
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-primary btn-120" href="{{ path('purchaseorder_edit') }}" role="button">+ {% trans %}Inkoop{% endtrans %}</a>
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-label="Menu"></span> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="{{ path('purchaseorder_edit') }}">{% trans %}Nieuwe inkooporder{% endtrans %}</a></li>
                            <li><a href="{{ path('purchaseorder_index') }}">{% trans %}Lijst van alle inkooporders{% endtrans %}</a></li>
                            <li><a href="{{ path('orderstatus_index') }}">{% trans %}Orderstatussen wijzigen{% endtrans %}</a></li>
                          </ul>
                        </div>
                        <div id="chart2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-primary btn-120" href="{{ path('salesorder_index') }}" role="button">+ {% trans %}Verkoop{% endtrans %}</a>
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-label="Menu"></span> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="{{ path('salesorder_index') }}">{% trans %}Nieuwe verkooporder{% endtrans %}</a></li>
                            <li><a href="{{ path('salesorder_index') }}">{% trans %}Lijst van alle verkooporders{% endtrans %}</a></li>
                            <li><a href="{{ path('orderstatus_index') }}">{% trans %}Orderstatussen wijzigen{% endtrans %}</a></li>
                          </ul>
                        </div>
                        <div id="chart3"></div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endif %}

    </div>
    <div class="col-md-2 hidden-sm">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans %}Routeplanner{% endtrans %}</div>
            <div class="panel-body">
                <div style="overflow: hidden;">
                    <img src="{{ asset('images/dummymap.jpg') }}" style="height: 290px; margin-left: -50%" />
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart1);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawChart3);

      function drawChart1() {

        var data = new google.visualization.DataTable();
        data.addColumn('date');
        data.addColumn('number');
        data.addColumn({ type: 'string', role: 'style' });
        data.addRows([
          [new Date(2018, 1, 1), { v: 323, f: '323,00' }, 'color: #006e2e'],
          [new Date(2018, 1, 2), { v: 223, f: '223,00' }, 'color: #006e2e'],
          [new Date(2018, 1, 3), { v: 634, f: '634,00' }, 'color: #006e2e'],
          [new Date(2018, 1, 4), { v: 435, f: '435,00' }, 'color: #006e2e'],
          [new Date(2018, 1, 5), { v: 231, f: '231,00' }, 'color: #006e2e'],
        ]);

        var options = {
            'title': null,
            'legend': { 'position': 'none' },
            'chartArea': { 'width': '80%', 'height': '70%' },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart1'));
        chart.draw(data, options);
      }

      function drawChart2() {

          var data = new google.visualization.DataTable();
          data.addColumn('date');
          data.addColumn('number');
          data.addColumn({ type: 'string', role: 'style' });
          data.addRows([
            [new Date(2018, 1, 1), { v: 5342, f: '5342,00' }, 'color: #bb0000'],
            [new Date(2018, 1, 2), { v: 4611, f: '4611,00' }, 'color: #bb0000'],
            [new Date(2018, 1, 3), { v: 5844, f: '5844,00' }, 'color: #bb0000'],
            [new Date(2018, 1, 4), { v: 3211, f: '3211,00' }, 'color: #bb0000'],
            [new Date(2018, 1, 5), { v: 2345, f: '2345,00' }, 'color: #bb0000'],
          ]);

          var options = {
              'title': null,
              'legend': { 'position': 'none' },
              'chartArea': { 'width': '80%', 'height': '70%' },
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
          chart.draw(data, options);
      }

      function drawChart3() {

          var data = new google.visualization.DataTable();
          data.addColumn('date');
          data.addColumn('number');
          data.addColumn({ type: 'string', role: 'style' });
          data.addRows([
            [new Date(2018, 1, 1), { v: 23, f: '23,00' }, 'color: #15007c'],
            [new Date(2018, 1, 2), { v: 23, f: '23,00' }, 'color: #15007c'],
            [new Date(2018, 1, 3), { v: 34, f: '34,00' }, 'color: #15007c'],
            [new Date(2018, 1, 4), { v: 35, f: '35,00' }, 'color: #15007c'],
            [new Date(2018, 1, 5), { v: 31, f: '31,00' }, 'color: #15007c'],
          ]);

          var options = {
              'title': null,
              'legend': { 'position': 'none' },
              'chartArea': { 'width': '80%', 'height': '70%' },
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart3'));
          chart.draw(data, options);
      }

    </script>

{% endblock %}
