{% extends 'base.html.twig' %}

{% block body %}
    

<div class="row">
    <div class="col-md-2 hidden-sm">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans %}Belangrijkste taken{% endtrans %}</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked nav-dashboard">
                    <li><a href="{{ path('purchaseorder_index') }}">{% trans %}Inkooporders{% endtrans %}</a></li>
                    <li><a href="{{ path('salesorder_index') }}">{% trans %}Verkooporders{% endtrans %}</a></li>
                    <li><a href="{{ path('product_index') }}">{% trans %}Voorraad{% endtrans %}</a></li>
                    <li><a href="{{ path('customer_index') }}">{% trans %}Klanten{% endtrans %}</a></li>
                    <li><a href="{{ path('customer_edit', {'id': 0}) }}">{% trans %}Nieuwe klant{% endtrans %}</a></li>
                    <li><a href="{{ path('supplier_index') }}">{% trans %}Leveranciers{% endtrans %}</a></li>
                    <li><a href="{{ path('supplier_edit', {'id': 0}) }}">{% trans %}Nieuwe leverancier{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans %}Zoeken{% endtrans %}</div>
                    <div class="panel-body panel-dashboardsearch">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-sm-10">
                                {{ form_widget(form.query) }}
                            </div>
                            <div class="col-sm-2">
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                        {{ form_widget(form.type) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        {% if result is iterable %}

        <div class="row">
            <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans %}Found products and orders{% endtrans %}</div>
            <div class="panel-body">
                {% for obj, line in result %}
                {% set objName = obj|split('-')[0] %}
                <a class="btn btn-success pull-right" 
                    href="{{ path(objName ~ '_edit', { 'id': obj|split('-')[1] }) }}" 
                    {{ objName == 'product' ? 'data-toggle="modal" data-target="#modalEditor"' : '' }} >
                        <span class="glyphicon glyphicon-pencil" aria-label="Edit"></span>
                </a>
                {{ line }}
                <hr />
                {% endfor %}
                {% if result|length %}
                    <i>{{ result|length }} products and orders found</i>
                {% else %}
                    <i>No products or orders found</i>
                {% endif %}
            </div>
        </div>
            </div>
        </div>

        {% elseif is_granted('ROLE_MANAGER') %}

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-small">
                        <h5>{% trans %}Laatste verkopen{% endtrans %}</h5>
                        <ul>
                            {% for sale in sales %}
                            <li><a href="{{ path('salesorder_edit', { 'id': sale.id }) }}">{{ sale.orderNr }} {{ sale.customer.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-small">
                        <h5>{% trans %}Nieuwste reparaties{% endtrans %}</h5>
                        <ul>
                            {% for repair in repairs %}
                            <li><a href="{{ path('salesorder_edit', { 'id': repair.id }) }}">{{ repair.orderNr }} {{ repair.customer.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-small">
                        <h5>{% trans %}Laatst gewijzigde producten{% endtrans %}</h5>
                        <ul>
                            {% for product in products %}
                            <li><a href="{{ path('product_edit', { 'id': product.id }) }}">{{ product.sku }} {{ product.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-small">
                        <h5>{% trans %}Nieuwste pickups{% endtrans %}</h5>
                        <ul>
                            {% for pickup in pickups %}
                            <li><a href="{{ path('purchaseorder_edit', { 'id': pickup.id }) }}">{{ pickup.orderNr }} {{ pickup.supplier.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-primary btn-120" href="{{ path('purchaseorder_edit') }}" role="button">+ {% trans %}Inkoop{% endtrans %}</a>
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-label="Menu"></span> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="{{ path('purchaseorder_edit') }}">{% trans %}Nieuwe inkooporder{% endtrans %}</a></li>
                            <li><a href="{{ path('purchaseorder_index') }}">{% trans %}Lijst van alle inkooporders{% endtrans %}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('orderstatus_index') }}">{% trans %}Orderstatussen wijzigen{% endtrans %}</a></li>
                            {% endif %}
                          </ul>
                        </div>
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-primary btn-120" href="{{ path('salesorder_new') }}" role="button">+ {% trans %}Verkoop{% endtrans %}</a>
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-label="Menu"></span> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="{{ path('salesorder_index') }}">{% trans %}Nieuwe verkooporder{% endtrans %}</a></li>
                            <li><a href="{{ path('salesorder_index') }}">{% trans %}Lijst van alle verkooporders{% endtrans %}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('orderstatus_index') }}">{% trans %}Orderstatussen wijzigen{% endtrans %}</a></li>
                            {% endif %}
                          </ul>
                        </div>
                        <div id="chart2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-primary btn-120" href="{{ path('salesorder_new', { 'productId': 0, 'isRepair': true }) }}" role="button">+ {% trans %}Reparatie{% endtrans %}</a>
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-label="Menu"></span> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">{% trans %}Nieuwe reparatie{% endtrans %}</a></li>
                            <li><a href="#">{% trans %}Lijst van alle reparaties{% endtrans %}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('orderstatus_index') }}">{% trans %}Orderstatussen wijzigen{% endtrans %}</a></li>
                            {% endif %}
                          </ul>
                        </div>
                        <div id="chart3"></div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endif %}

    </div>
    <div class="col-md-2 hidden-sm">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans %}Routeplanner{% endtrans %}</div>
            <div class="panel-body">
                <div style="overflow: hidden;">
                    <img src="{{ asset('images/dummymap.jpg') }}" style="height: 290px; margin-left: -50%" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="product-index">x</div> Hiervoor?

<script src="{{ asset('./js/build/runtime.js') }}"></script>
<script src="{{ asset('./js/build/vendors-node_modules_vue-loader_lib_runtime_componentNormalizer_js-node_modules_vue_dist_vue_esm_js.js') }}"></script>
<script src="{{ asset('./js/build/product-index.js') }}"></script>
{{ encore_entry_script_tags('app') }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart1);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawChart3);

      function drawChart1() {

        var data = new google.visualization.DataTable();
        data.addColumn('date');
        data.addColumn('number');
        data.addColumn({ type: 'string', role: 'style' });
        data.addRows([
          {% for day in purchasesPerDay %}
          [new Date({{ day.orderYear }}, {{ day.orderMonth-1 }}, {{ day.orderDay }}), { v: 0{{ day.quantity }} }, 'color: #006e2e'],
          {% endfor %}
        ]);

        var options = {
            'title': null,
            'legend': { 'position': 'none' },
            'chartArea': { 'width': '80%', 'height': '70%' },
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart1'));
        chart.draw(data, options);
      }

      function drawChart2() {

          var data = new google.visualization.DataTable();
          data.addColumn('date');
          data.addColumn('number');
          data.addColumn({ type: 'string', role: 'style' });
          data.addRows([
            {% for day in salesPerDay %}
              [new Date({{ day.orderYear }}, {{ day.orderMonth-1 }}, {{ day.orderDay }}), { v: 0{{ day.revenue }} }, 'color: #bb0000'],
            {% endfor %}
          ]);

          var options = {
              'title': null,
              'legend': { 'position': 'none' },
              'chartArea': { 'width': '80%', 'height': '70%' },
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart2'));
          chart.draw(data, options);
      }

      function drawChart3() {

          var data = new google.visualization.DataTable();
          data.addColumn('date');
          data.addColumn('number');
          data.addColumn({ type: 'string', role: 'style' });
          data.addRows([
            {% for day in repairsPerDay %}
              [new Date({{ day.orderYear }}, {{ day.orderMonth-1 }}, {{ day.orderDay }}), { v: 0{{ day.quantity }} }, 'color: #15007c'],
            {% endfor %}            
          ]);

          var options = {
              'title': null,
              'legend': { 'position': 'none' },
              'chartArea': { 'width': '80%', 'height': '70%' },
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart3'));
          chart.draw(data, options);
      }

    </script>

{% endblock %}
