{% extends 'base.html.twig' %}

{% block body %}
    <h1>Locations</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for a in locations %}
            <tr>
                <td><a href="{{ path('admin_location_show', { 'id': a.id }) }}">{{ a.id }}</a></td>
                <td>{{ a.name }}</td>
                <td>
                    <a href="{{ path('admin_location_edit', { 'id': a.id }) }}">
                        <button type="button" class="btn btn-success">
                            Edit
                        </button>
                    </a>
                    {% if a.product_count == 0 %}
                    <a href="{{ path('admin_location_delete', { 'id': a.id }) }}">
                        <button type="button" class="btn btn-danger" href="#">
                            {% trans %}Delete{% endtrans %}
                        </button>
                    </a>
                    {% else %}
                        <button type="button" class="btn">
                        {% trans %}Location is in use{% endtrans %}
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_location_new') }}">Create a new location</a>
        </li>
    </ul>
{% endblock %}
