{% extends 'base.html.twig' %}

{% block body %}
<h1>Customer edit</h1>
{{ form_start(edit_form) }}
    <table class="table table-striped">
    <tr>
        <td>{% trans %}Firstname{% endtrans %}:</td>
        <td>{{ form_widget(edit_form.firstname) }}</td>
    </tr>
    <tr>
        <td>{% trans %}Sirname{% endtrans %}:</td>
        <td>{{ form_widget(edit_form.sirname) }}</td>
    </tr>
    <tr>
        <td>{% trans %}Phone{% endtrans %}:</td>
        <td>{{ form_widget(edit_form.phone) }}</td>
    </tr>
    <tr>
        <td>{% trans %}Email{% endtrans %}:</td>
        <td>{{ form_widget(edit_form.email) }}</td>
    </tr>
    <tr>
        <td>{% trans %}Partner{% endtrans %}:</td>
        <td>{{ form_widget(edit_form.partner) }}</td>
    </tr>
    <tr>
        <td>{% trans %}Company{% endtrans %}:</td>
        <td>{{ form_widget(edit_form.companyId) }}</td>
    </tr>
    <tr>
        <td>{% trans %}Address{% endtrans %}:</td>
        <td>{{ form_widget(edit_form.addressId) }}</td>
    </tr>
    <tr>
        <td>
            <input class="btn btn-success" type="submit" value="Edit" />
        </td>
{{ form_end(edit_form) }}
        <td>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ path('admin_customer_index') }}">Back to the list</a>
        </td>
    </tr>
</table>
{% endblock %}
