{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer list</h1>

    <h4><a href="{{ path('customer_edit', { 'id': 0 }) }}">Create new customer</a></h4>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Representative</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.representative }}</td>
                <td>{{ customer.email }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('customer_edit', { 'id': customer.id }) }}">Edit</a>
                    {% if customer.salesOrders|length == 0 %}
                    <a class="btn btn-warning" href="{{ path('customer_delete', { 'id': customer.id }) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">
                    <h4>{% trans %}No records found{% endtrans %}</h4>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
{% endblock %}
