{% extends 'base.html.twig' %}

{% block body %}
<h1>Customer creation</h1>
<table class="table table-striped">

    {{ form_start(form) }}
    <tr>
        <td>{% trans %}firstname{% endtrans %}:</td>
        <td>{{ form_widget(form.firstname) }}</td>
    </tr>
    <tr>
        <td>{% trans %}sirname{% endtrans %}:</td>
        <td>{{ form_widget(form.sirname) }}</td>
    </tr>
    <tr>
        <td>{% trans %}phone{% endtrans %}:</td>
        <td>{{ form_widget(form.phone) }}</td>
    </tr>
    <tr>
        <td>{% trans %}email{% endtrans %}:</td>
        <td>{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
        <td>{% trans %}partner{% endtrans %}:</td>
        <td>{{ form_widget(form.partner) }}</td>
    </tr>
    <tr>
        <td>{% trans %}companyId{% endtrans %}:</td>
        <td>{{ form_widget(form.companyId) }}</td>
    </tr>
    <tr>
        <td>{% trans %}addressId{% endtrans %}:</td>
        <td>{{ form_widget(form.addressId) }}</td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Create" />
        </td>
        <td>
            <a href="{{ path('admin_customer_index') }}">Back to the list</a>
        </td>
    </tr>
</table>
{{ form_end(form) }}
{% endblock %}
