{% extends 'base.html.twig' %}

{% block body %}
<h1>Customer</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Sirname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Partner</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.firstname }}</td>
            <td>{{ customer.sirname }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{% if customer.partner %}Yes{% else %}No{% endif %}</td>
            <td>
                <a href="{{ path('admin_customer_edit', { 'id': customer.id }) }}"><button class="btn btn-success" name="Edit">Edit</button></a>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('admin_customer_index') }}">Back to the list</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
