{{form_start(form, {'multipart': false})}}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Your details{% endtrans %}
    </div>
    <div class="panel-body">
    {{ form_row(form.supplier.name) }} 
    {{ form_row(form.supplier.representative) }} 
    {{ form_row(form.supplier.email) }} 
    {{ form_row(form.supplier.phone) }} 
    {{ form_row(form.supplier.street) }} 
    {{ form_row(form.supplier.zip) }} 
    {{ form_row(form.supplier.city) }} 
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Pickup addresses{% endtrans %}
    </div>
    <div class="panel-body">

        <div class="form-group">
            {{ form_label(form.countAddresses) }}
            <div class="col-sm-2">
                {{ form_widget(form.countAddresses) }}
            </div>
            <div class="col-sm-7" style="margin-top: 7px">
                Zet op 0 indien ophaaladres gelijk is aan adres hierboven.
            </div>
        </div>

        {% for i in 1..maxAddresses %}
        <div class="form-group" style="">
            {{ form_label(form['address' ~ i]) }}
            <div class="col-sm-4">{{ form_widget(form['address' ~ i]) }}</div>
            <div class="col-sm-2">{{ form_widget(form['address_zip_' ~ i]) }}</div>
            <div class="col-sm-3">{{ form_widget(form['address_city_' ~ i]) }}</div>
        </div>
        {% endfor %} 


    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}About the materials{% endtrans %}
    </div>
    <div class="panel-body">         
        {% for productType in allProductTypes %}
            {{ form_label(form['quantity_1_' ~ productType.id]) }}
            <div class="col-sm-9">
                <table style="width: 0">
                    <tr>
                        {% for i in 1..maxAddresses %}
                            <td style="display:none; padding: 0">{{ form_widget(form['quantity_' ~ i ~ '_' ~ productType.id]) }}</td>
                        {% endfor %}                 
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Additional info{% endtrans %}
    </div>
    <div class="panel-body">
        {{ form_row(form.pickupDate) }} 
        {{ form_row(form.description) }} 
        {{ form_row(form.dataDestruction) }} 
        <hr />
        {{ form_row(form.imagesInput) }} 
        {{ form_row(form.agreementInput) }} 
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="g-recaptcha" data-sitekey="{{ recaptchaKey }}"></div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-sm-9 col-sm-offset-3">
                {{ form_widget(form.save) }}
            </div>
        </div>        
    </div>
</div>

{{ form_widget(form.imagesNames) }}
{{ form_widget(form.agreementName) }}
{{ form_widget(form.orderStatusName) }}
{{ form_widget(form.locationId) }}
{{ form_widget(form.origin) }} 
{{ form_widget(form.maxAddresses) }} 
{{ form_end(form, {'render_rest': false}) }}

<div id="errorContainer" style="color: red"></div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>


