<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nexxus order form</title>
        
        <link href="{{ asset('bootstrap/stylesheet/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('stylesheet/override_style.css') }}" rel="stylesheet"/>  
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
    <body>
        <div class="container">

            <h1>Welcome to the Nexxus order form</h1>
            This form can be used for sales order creation.<br />
            It is an example for webdesigners. <br />
            The form is submittable from other websites and domains.<br />
            The form can be applied as an API call too (reCaptcha must be disabled).<br />
            Webmaster, please note the hidden form fields.<br /><br />

            {% if success %}
            <div class="alert alert-success" role="alert">The order is registered successfully.</div>
            {% elseif success is same as(false) %}
            <div class="alert alert-danger" role="alert">The order is not registered. Please contact us!</div>
            {% endif %}

            {{form_start(form)}}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {% trans %}Your details{% endtrans %}
                </div>
                <div class="panel-body">
                    {{ form_row(form.customer.name) }} 
                    {{ form_row(form.customer.representative) }} 
                    {{ form_row(form.customer.email) }} 
                    {{ form_row(form.customer.phone) }} 
                    {{ form_row(form.customer.street) }} 
                    {{ form_row(form.customer.streetExtra) }} 
                    {{ form_row(form.customer.city) }} 
                    {{ form_row(form.customer.zip) }} 
                    {{ form_row(form.customer.state) }} 
                    {{ form_row(form.customer.country) }} 
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Aantal eenheden
                </div>
                <div class="panel-body">
                    <!-- All product descriptions are allowed. Make sure the input name starts with "q" like in this example. -->
                    {% for q in form if q.vars.name starts with 'q' %}
                    {{ form_row(q) }} 
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="g-recaptcha" data-sitekey="6LdyzXMUAAAAAD_c780y1hElRPgST2XMzAfCJefH"></div>
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_widget(form.locationId) }}
            {{ form_widget(form.orderStatusName) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>

        <script src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>