{% extends 'base.html.twig' %}
{% trans_default_domain "product" %}

{# Check for page number #}
{% if app.request.get('page') is defined %}
    {% set page = app.request.get('page') %}
  {% else %}
    {% set page = 1 %}
{% endif %}

{% block stylesheets %}
    <style>
        #product-search-form {
            background-color: #96ffa9;
            border-radius: 15px 50px 30px 5px;
        }
    </style>
{% endblock %}

{% block body %}
    
    <div class="container col-sm-12">
        <h1>{% trans %}Product List{% endtrans %}</h1>

        <h2>{{ app.request.get('order') }}</h2>

        {% if msg is defined %}
            <h4>{{ msg }}</h4>
        {% endif %}

        <h4><a href="{{ path('purchaseorder_new') }}">{% trans %}Create Purchase Order{% endtrans %}</a></h4>
        <h4><a href="{{ path('purchaseorder_new') }}">{% trans %}Create Sales Order{% endtrans %}</a></h4>
        <button class="btn btn-success" name="product-search-form-btn" id="product-search-form-btn"><span class="glyphicon glyphicon-search"></span>&nbsp;{% trans %}Search{% endtrans %}</button>
    </div>
    
    {# Search Box #}
    <div class="container col-sm-6" name="product-search-form" id="product-search-form" style="display:none;">
        <br>
        {# Scan Barcode #}
        <div class="form-row">
            <label for="barcode_search" id="barcode_label">{% trans %}Scan Barcode{% endtrans %}</label>
            <input type="text" class="form-control" name="barcode_search" id="barcode_search" placeholder="{% trans %}Scan Item Here{% endtrans %}">
        </div>
        <hr>
        
        <form method="POST">    
            <h4>Advanced Search</h4>
            {# Search Terms #}
            <div class="form-row">
                <label for="search-terms">{% trans %}Search terms:{% endtrans %}</label>
                <input type="text" class="form-control" name="item_search[searchbar]" id="search-bar" value="{{ search_query.terms }}">
            </div>
                
            <br>

            {# Item specifics #}
            <div class="form-row">
                <label for="search-spec">
                    {% trans %}Item specifics{% endtrans %}:
                </label>
                <br>
                
                <select name="item_search[spec][location]">
                    <option value="" selected>
                        {% trans %}Any Location{% endtrans %}
                    </option>
                    {% for location in search_options.specifics.locations %}
                        <option value="{{ location.id }}">
                            {{ location.name }}
                        </option>
                    {% endfor %}
                </select>&nbsp;
                
                <select name="item_search[spec][type]">
                    <option value="" selected>
                        {% trans %}Any Type{% endtrans %}
                    </option>
                    {% for type in search_options.specifics.types %}
                        <option value="{{ type.id }}">
                            {{ type.name }}
                        </option>
                    {% endfor %}
                </select>&nbsp;
            </div>
                <br>
            <input type="submit" name="submit_search">
        </form>
        <br>
    </div>
    {# End Search Box #}
        
    <div class="product_table col-sm-12">
        {% if searched %}
            <a href="{{ path("track_index", {'clear': true}) }}"><h4>
                {% trans %} 
                    Clear search query 
                {% endtrans %}
            </h4></a>
        {% endif %}
        
        <table class="table table-striped">
            <thead>
                
                <tr>
                    <th>
                        {# Checkbox column #}
                        <div id="checkbox-header">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {# trans %}
                                        Select
                                    {% endtrans #}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href='#' id='selectAllBoxes' onClick="selectAllBoxes();"><span class="glyphicon glyphicon-ok-sign" style="color:green"></span>&nbsp;{% trans %}Select All{% endtrans %}</a></li>
                                    <li><a class="dropdown-item" href='#' id='selectNoBoxes' onClick="selectNoBoxes();"><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;{% trans %}Deselect All{% endtrans %}</a></li>
                                    <li><a class="dropdown-item" href='#' id='bulkUpdate'><span class="glyphicon glyphicon-level-up" style="color:black"></span>&nbsp;{% trans %}Edit Selected Products{% endtrans %}</a></li>
                                    <li><a class="dropdown-item" href='#' id='exportCSV'  target='_blank'><span class="glyphicon glyphicon-th-list" style="color:black"></span>&nbsp;Print CSV</a></li>
                                    <li><a class="dropdown-item" data-toggle="modal" data-target="#BarcodeSelectModal"><span class="glyphicon glyphicon-barcode" style="color:black"></span>&nbsp;Print Barcodes</a></li>
                                    {#<li><a class="dropdown-item" href='#' id='printBarcodes'  target='_blank'><span class="glyphicon glyphicon-barcode" style="color:black"></span>&nbsp;Print Barcodes</a></li>#}
                                    {#<li><a class="dropdown-item" href='#' id='groupBarcode' target='_blank'><img src='{{ asset('images/barcode.png') }}'>&nbsp;<u>Creeer Groep Barcode</u></a></li>#}
                                </ul>
                            </div>
                        </div>
                    </th>
                    <th>
                        <table>
                            <tr>
                                <td>
                                    <a href="{{ path('track_index', {'page': page, 'sort': 'updatedAt', 'by': 'ASC'}) }}">
                                        <small><span class="glyphicon glyphicon-menu-up"></span></small>
                                    </a>
                                </td>
                                <td rowspan="2">&nbsp;{% trans %} Changed On {% endtrans %}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{{ path('track_index', {'page': page, 'sort': 'updatedAt', 'by': 'DESC'}) }}">
                                        <small><span class="glyphicon glyphicon-menu-down"></span></small>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </th>
                    <th>
                        <table>
                            <tr>

                                <td>
                                    <a href="{{ path('track_index', {'page': page, 'sort': 'sku', 'by': 'ASC'}) }}">
                                        <small><span class="glyphicon glyphicon-menu-up"></span></small>
                                    </a>
                                </td>
                                <td rowspan="2">&nbsp;SKU</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{{ path('track_index', {'page': page, 'sort': 'sku', 'by': 'DESC'}) }}">
                                        <small><span class="glyphicon glyphicon-menu-down"></span></small>
                                    </a>
                                </td>

                            </tr>
                        </table>
                    </th>
                    <th>
                        {% trans %}Name{% endtrans %}
                    </th>

                    <th>
                        {% trans %}Quantity{% endtrans %}
                    </th>

                    <th>
                        {% trans %}Location{% endtrans %}
                    </th>

                    {#
                    <th>
                        {% trans %}Description{% endtrans %}
                    </th>
                    #}

                    <th>
                        {% trans %}Type{% endtrans %}
                    </th>

                    <th>
                        {% trans %}Actions{% endtrans %}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% set product_row = 0 %} 
            {% for product in products %}
                {% set product_row = product_row+1 %}
                <tr>
                    <td><input type='checkbox' class="select_status" name='select_status-{{ product.id }}' id='selectbox-{{ product.id }}' onChange='checkItems();' value="{{ product.id }}"></td>
                    <td>{{ product.updatedAt }}</td>
                    <td><b><a href="{{ path('track_show', { 'id': product.id }) }}">{{ product.sku }}</a></b></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.location }}</td>
                    {# <td>{{ product.description}}</td> #}
                    <td>{{ product.type }}</td>
                    <td>
                        <div class="list-group">
                            <a class="list-group-item" href="{{ path('track_edit', { 'id': product.id }) }}">
                                {% trans %}Edit{% endtrans %}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            {% if product_row == 0 %}
                <tr><td colspan="999"><h4>{% trans %}No products found{% endtrans %}.</h4></td></tr>
            {% endif %}
            <tr>
              <td style="background-color:white;">
                <div class="pagination">
                    Page 
                    {% if page > 1 %}
                        <a href="{{ path('track_index', {'page': page-1}) }}">&lt;</a>
                    {% endif %}
                    {{ page }}
                    <a href="{{ path('track_index', {'page': page+1}) }}">&gt;</a>
                 </div>
              </td>
            </tr>
        </table>
    </div>
    
    {# Barcode Selecting Modal #}
    <div class="modal fade" id="BarcodeSelectModal" tabindex="-1" role="dialog" aria-labelledby="BarcodeS">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="BarcodeSelectTitle">
                        {% trans %}Select Your Barcode Type{% endtrans %}
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6">
                        <a class="dropdown-item" href='#' id='printBarcode11352'  target='_blank'>
                            <h4 style="color:black">Dymo 11352</h4>
                            <img src="{{ asset("images/BarcodeRoll11352.png") }}" class="img-thumbnail rounded float-left">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        {#<a class="dropdown-item" href='#' id='printBarcode11356'  target='_blank'>#}
                        <a class="dropdown-item" href='#' id='printBarcode11356'>
                            <h4 style="color:black">Dymo 11356</h4>
                            <img src="{{ asset("images/BarcodeRoll11356.png") }}" class="img-thumbnail rounded float-left">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="dropdown-item" href='#' id='printBarcodeA4' target='_blank'>
                            <h4 style="color:black">A4-papier</h4>
                            <img src="{{ asset("images/a4.jpg") }}" class="img-thumbnail rounded float-left">
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>          
                 
    
{% endblock %}

{% block javascripts %}
   <script>
        $("#barcode_search").keyup(function (e) {
                if (e.keyCode === 13) {
                   var barcode = document.getElementById('barcode_search').value;
                   var product_url = "{{ path('track_searchSku', {'sku': "PLACEHOLDER" })}}";
                   window.location = product_url.replace("PLACEHOLDER", barcode);
                }
        });
        
        $("#product-search-form-btn").click(function () {
            $("#product-search-form").slideToggle();
        });
        
        // checkbox script
        var itemArr = [];

        function checkItems() {
                // get all items
                var checkbox = document.getElementsByClassName("select_status");

                // check them
                for(i=0; i < checkbox.length; i++) {
                    if(checkbox[i].checked === true) 
                    {   // checkbox true
                        if(itemArr.indexOf(checkbox[i].value) === -1) 
                        {
                            itemArr.push(checkbox[i].value);
                        }
                    } 
                    else 
                    {   // checkbox false
                        if(itemArr.indexOf(checkbox[i].value) > -1) 
                        {
                            itemArr.splice(itemArr.indexOf(checkbox[i].value), 1);
                        }
                    }
                }
                document.getElementById("printBarcode11352").href = "{{ path('track_print_barcode_multi') }}"+"?id[]="+itemArr.join("&id[]=");
                //document.getElementById("printBarcodeA4").href = "{{ path('track_print_barcode_a4') }}"+"?id[]="+itemArr.join("&id[]=");
                document.getElementById("bulkUpdate").href = "{{ path('track_bulk_edit') }}"+"?id[]="+itemArr.join("&id[]=");
                document.getElementById("exportCSV").href = "{{ path('track_export_csv') }}"+"?id[]="+itemArr.join("&id[]=");
                console.log("Selected items: " + itemArr);
        }
        
        function selectAllBoxes() {
                $('input.select_status').prop('checked',true);
                checkItems();   
        }
        
        function selectNoBoxes() {
                $('input.select_status').prop('checked', false);
                checkItems();  
        }
    </script> 
{% endblock %}
