{% extends 'base.html.twig' %}
{% trans_default_domain "product" %}

{% block body %}
    <h1>Create a New Product</h1>
    
    {% if error_msg is defined %}
        
        {% if error_msg == 'DuplicateSku' %}
            <div class="alert alert-danger">
                <strong>Error:</strong>
                
                {% trans %} SKU code already exists.{% endtrans %}
            </div>
        {% endif %}
        
    {% endif %}
    <div class="container">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Generate New SKU {% endtrans %}
                    &nbsp;<span class="glyphicon glyphicon-barcode"></span>
                </label>
                <div class="col-lg-10">
                    {{ form_widget(form.generatesku) }}
                </div>
            </div>    
            <div class="form-group editForm-sku">
                <label class="control-label col-lg-2">
                    {% trans %} SKU {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(form.sku) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Name {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Quantity {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(form.quantity) }}
                </div>
            </div>
            {% if form.price is not null %}
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Price {% endtrans %}
                </label>
                <div class="col-lg-10">
                    &euro;&nbsp;{{ form_widget(form.price) }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Description {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Type {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(form.type) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Location {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(form.location) }}
                </div>
            </div>
            {{ form_row(form._token) }}
            <div class="form-group"> 
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" value="Save" /> 
                    x
                    {{ form_widget(form.saveAmount) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('track_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script>
        // toggle custom SKU field
        $(document).ready(function() {
            $(".editForm-sku").hide();

            $("#form_generatesku").change(function() 
            {
                switch($("#form_generatesku").val()) 
                {
                    case 'Yes':
                        $(".editForm-sku").slideUp();
                        break;
                    case 'No':
                        $(".editForm-sku").slideDown();
                        break;
                    default:
                }
            });
        });
    </script>
{% endblock %}    
