{% extends 'base.html.twig' %}
{% trans_default_domain "product" %}

{% block body %}
    <h1>Product Info</h1>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>SKU</th>
                <td>
                    {{ product.sku }}
                    &nbsp;
                    <a href="{{ path('track_print_barcode_multi', {'id': [product.id] }) }}" target="_BLANK" style="text-decoration:none" title="Barcode">
                        <span class="glyphicon glyphicon-barcode" style="color:black"></span>
                    </a>
                        &nbsp;
                    <a href="{{ path('track_checklist_show', {'id': product.id }) }}" target="_BLANK" title="Checklist">
                        <span class="glyphicon glyphicon-list-alt" style="color:black"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <th>{% trans %} Name {% endtrans %}</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>{% trans %} Quantity {% endtrans %}</th>
                <td>{{ product.quantity}}</td>
            </tr>
            {% if sellable %}
             <tr>
                 <th>{% trans %} Price {% endtrans %}</th>
                 <td>{{ product.price}}</td>
             </tr>
            {% endif %}
            <tr>
                <th>{% trans %} Location {% endtrans %}</th>
                <td>{{ product.location }}</td>
            </tr>
            <tr>
                <th>{% trans %} Description {% endtrans %}</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>{% trans %} Type {% endtrans %}</th>
                <td>{{ product.type }}</td>
            </tr>
        </tbody>
    </table>
    
    {% set attributes = product.getAttributeRelations %}
    <h4>Product Attributes</h4>
        <table class="table table-bordered">
            <tbody>
                {% for attribute in attributes %}
                <tr>
                    <th>{{ attribute.attribute }}</th>
                    <td>{{ attribute.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            
    <a href="{{ path('track_edit', { 'id': product.id }) }}"><button>{% trans %}Edit{% endtrans %}</button></a><br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}<br>
    <a href="{{ path('track_index') }}">{% trans %}Back to the list{% endtrans %}</a><br>

{% endblock %}
