{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}
    Edit multiple items
    {% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Edit multiple items{% endtrans %}</h1>
        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(edit_form) }}
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} SKU {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.sku, {'attr': {'readonly': 'readonly'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Name {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.name) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Quantity {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.quantity) }}
                </div>
            </div>
            {% if sellable %}
             <div class="form-group">
                 <label class="control-label col-lg-2">
                     {% trans %} Price {% endtrans %}
                 </label>
                 <div class="col-lg-10">
                     {{ form_widget(edit_form.price) }}
                 </div>
             </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Description {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.description) }}
                </div>
            </div>
                <div class="form-group">
                    <label class="control-label col-lg-2">
                        {% trans %} Type {% endtrans %}
                    </label>
                    <div class="col-lg-10">
                        {{ form_widget(edit_form.type) }}
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Status {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.status, {'choice_translation_domain': 'status'} ) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Location {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.location) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Brand {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.brand) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Department {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.department) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">
                    {% trans %} Owner {% endtrans %}
                </label>
                <div class="col-lg-10">
                    {{ form_widget(edit_form.owner) }}
                </div>
            </div>
                
        {#<h4>Product Attributes</h4>
         for i in 0..attribute_count %}
            <div class="form-group">
            <label class="control-label col-lg-2">
                {{ attribute(edit_form, i) }}
            </label>
            <div class="col-lg-10">
                {{ form_label(edit_form.attribute_1) }}
            </div>
        </div>
        {% endfor #}
        {# for attr in attributes %}
        
        {% endfor #}
        {{ form_end(edit_form) }}
        <div class="form-group"> 
            <div class="col-lg-offset-2 col-lg-10">
                <a href="{{ path('product_index') }}">
                    {% trans %} Back to the list {% endtrans %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
