{% extends 'base.html.twig' %}

{% block body %}
    <h1>Companies list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Kvknr</th>
                <th>Representative</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.kvkNr }}</td>
                <td>{{ company.representative }}</td>
                <td>
                    <a href="{{ path('admin_company_show', { 'id': company.id }) }}"><button class="btn btn-success" name="Show">Show</button></a>
                    <a href="{{ path('admin_company_edit', { 'id': company.id }) }}"><button class="btn btn-success" name="Edit">Edit</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_company_new') }}">Create a new company</a>
        </li>
    </ul>
{% endblock %}
