{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company creation</h1>
    <table class="table table-striped">

        {{ form_start(form) }}
        <tr>
            <td>{% trans %}Name{% endtrans %}:</td>
            <td>{{ form_widget(form.name) }}</td>
        </tr>
        <tr>
            <td>{% trans %}Address{% endtrans %}:</td>
            <td>{{ form_widget(form.addressId) }}</td>
        </tr>
        <tr>
            <td>{% trans %}KvK nummer{% endtrans %}:</td>
            <td>{{ form_widget(form.kvkNr) }}</td>
        </tr>
        <tr>
            <td>{% trans %}Representative{% endtrans %}:</td>
            <td>{{ form_widget(form.representative) }}</td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create" />
            </td>
            <td>
                <a href="{{ path('admin_company_index') }}">Back to the list</a>
            </td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}